<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			<nav>
				<div>
					<h1>SaM's Foodtruck</h1>
				</div>
				<div>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/menu">Menu</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/cart">Cart</a></li>
						<li><a href="/login">Login</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<div id="contentHeader">
				<div>
					<p>WHERE FLAVOUR IS OUR SPECIALTY</p>
					<h1>{{title}}</h1>
					<p>Take a look at our amazing dishes served nearby</p>
					<a href="/menu">Menu</a>
				</div>
				<div id="location">
					<p>Today We're located at:</p>
					<a href="/location">
						<svg class="purple"></svg>
						<p class="purple">{{location}}</p>
					</a>
				</div>
			</div>
		</main>
		<footer>
			<p>&copy; 2025 SaM's Foodtruck</p>
		</footer>
	</body>
</html>
